@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.catalog {
  display: flex;
  justify-content: center;
}

.catalog__container {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
