@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';


.catalog-item__topic {
    padding: 0;
    margin: 0;
}

.catalog-item__link-name,
.catalog-item__link-name:visited {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: $Black;
    @media (min-width: $tablet-width) {
        font-size: 20px;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.catalog-item__link-name:hover {
    opacity: 0.6;
}

.catalog-item__link-name:active {
    opacity: 0.3;
}

.catalog-item__desc {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    @media (min-width: $tablet-width) {
        font-size: 15px;
        padding-top: 6px;
    }
    
    @media (min-width: $desktop-width) {
        padding-bottom: 0px;
        padding-top: 5px;
    }
}

.catalog-item__value {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: auto;
    padding-top: 23px;
    border-top: 1px solid $Seashell;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    @media (min-width: $tablet-width) {
        font-size: 17px;
        margin-top: auto;
    }
    
    @media (min-width: $desktop-width) {
        margin-top: auto;
    }
}

.catalog-item__value::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 185px;
    width: 20px;
    height: 19px;
    background: url("../../../img/icon-cart.svg") no-repeat;
    opacity: 0.2;
    @media (min-width: $tablet-width) {
        width: 21px;
        height: 18px;
        top: 20px;
        left: 248px;
    }
    
    @media (min-width: $desktop-width) {
        top: 20px;
        left: 234px;
    }
}

.catalog-item__value:hover::before {
    background: url("../../../img/icon-cart-hover.svg") no-repeat;
    opacity: 1;
}

.catalog-item__value:active::before {
    opacity: 0.3;
}