@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.catalog-item__topic {
    padding: 0;
    margin: 0;
    margin-top: 26px;
    margin-left: 28px;
    @media (min-width: $tablet-width) {
        padding-top: 2px;
        padding-left: 339px;
    }
    
    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0;
        padding: 23px 26px 0px 28px;
    }
}

.catalog-item__topic--special {
    padding: 0;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 4px;
    margin-left: 28px;
    @media (min-width: $tablet-width) {
        margin-top: 22px;
        padding-left: 339px;
    }
    
    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0;
        padding: 23px 26px 0px 28px;
    }
}

.catalog-item__image {
    @media (min-width: $tablet-width) {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    @media (min-width: $desktop-width) {
        position: relative;
    }
}

.catalog-item__link-name,
.catalog-item__link-name:visited {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: $Black;
    @media (min-width: $tablet-width) {
        font-size: 20px;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.catalog-item__link-name:hover {
    opacity: 0.6;
}

.catalog-item__link-name:active {
    opacity: 0.3;
}

.catalog-item__desc {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    margin-left: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    @media (min-width: $tablet-width) {
        padding-top: 3px;
        font-size: 15px;
        padding-left: 339px;
    }
    
    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0;
        padding: 6px 10px 0px 28px;
    }
}

.catalog-item__desc--special {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    margin-left: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    @media (min-width: $tablet-width) {
        padding-top: 0px;
        font-size: 15px;
        padding-left: 339px;
    }
    
    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0;
        padding: 6px 10px 0px 28px;
    }
}

.catalog-item__value {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 26px;
    margin-left: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    @media (min-width: $tablet-width) {
        font-size: 17px;
        padding-top: 155px;
        padding-left: 339px;
    }
    
    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0;
        padding: 60px 40px 26px 28px;
    }
}

.catalog-item__value--special {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 42px;
    margin-bottom: 26px;
    margin-left: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    @media (min-width: $tablet-width) {
        font-size: 17px;
        padding-top: 130px;
        padding-left: 339px;
    }
    
    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0;
        padding: 37px 40px 26px 28px;
    }
}

.catalog-item__value--special::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 185px;
    width: 20px;
    height: 19px;
    background: url("../../../img/icon-cart.svg") no-repeat;
    opacity: 0.2;
    @media (min-width: $tablet-width) {
        width: 21px;
        height: 18px;
        top: 129px;
        left: 586px;
    }
    
    @media (min-width: $desktop-width) {
        top: 35px;
        left: 264px;
    }
}

.catalog-item__value--special:hover::before {
    background: url("../../../img/icon-cart-hover.svg") no-repeat;
    opacity: 1;
}

.catalog-item__value--special:active::before {
    opacity: 0.3;
}

.catalog-item__value::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 185px;
    width: 20px;
    height: 19px;
    background: url("../../../img/icon-cart.svg") no-repeat;
    opacity: 0.2;
    @media (min-width: $tablet-width) {
        width: 21px;
        height: 18px;
        top: 157px;
        left: 586px;
    }
    
    @media (min-width: $desktop-width) {
        top: 60px;
        left: 263px;
    }
}

.catalog-item__value:hover::before {
    background: url("../../../img/icon-cart-hover.svg") no-repeat;
    opacity: 1;
}

.catalog-item__value:active::before {
    opacity: 0.3;
}