@import "../abstracts/variables.scss";
@import "../abstracts/mixins.scss";

.catalog-item {
  position: relative;
}

.catalog-item__topic {
  padding: 0;
  margin: 0;
}

.catalog-item__link-name,
.catalog-item__link-name:visited {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $Black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog-item__link-name:hover {
  opacity: 0.6;
}

.catalog-item__link-name:active {
  opacity: 0.3;
}

.catalog-item__desc {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.catalog-item__value {
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: auto;
  padding-top: 23px;
  border-top: 1px solid $Seashell;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
  }
}

.catalog-list__item .catalog-item__button {
  content: "";
  position: absolute;
  top: 126px;
  left: 213px;
  width: 20px;
  height: 19px;
  background: url("../img/icon-cart.svg") no-repeat;
  opacity: 0.2;
  border: none;

  @media (min-width: $tablet-width) {
    width: 21px;
    height: 18px;
    top: 285px;
    left: 280px;
  }

  @media (min-width: $desktop-width) {
    top: 146px;
    left: 263px;
  }
}

.catalog-list__item:hover .catalog-item__button,
.catalog-item__button:focus {
  background: url("../img/icon-cart-hover.svg") no-repeat;
  opacity: 1;
}

.catalog-list__item:active .catalog-item__button {
  opacity: 0.3;
}
