@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.header-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    // height: 489px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: url("/../img/hero-mobile@1x.jpg") no-repeat 50% -18px;
    margin-left: -30px;
    margin-right: -30px;
    @media (min-width: $tablet-width) {
        margin-left: -50px;
        margin-right: -50px;
        background: url("../../img/hero-tablet@1x.jpg") no-repeat 50% 0;
    }
    
    @media (min-width: $desktop-width) {
        background: url("../../img/hero-desktop@1x.jpg") no-repeat 50% 0;
    }
}

.header-block::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 20px;
    width: 100%;
    content: "";
    background-image: url('../../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-position: -50px 0;
    background-size: 39px 20px;
}

.header-block__title {
    text-align: center;
    font-size: 27px;
    line-height: 30px;
    margin-top: 72px;
    margin-bottom: 120px;
    width: 260px;
    height: 90px;
    @media (min-width: $tablet-width) {
        font-size: 43px;
        line-height: 50px;
        margin-top: 153px;
        margin-bottom: 372px;
        width: 668px;
        height: 100px;
    }
    
    @media (min-width: $desktop-width) {
        font-size: 53px;
        line-height: 57px;
        margin-bottom: 350px;
        width: 700px;
        height: 114px;
    }
}

.header-block__list {
    align-self: stretch;
    font-size: 19px;
    line-height: 24px;
    color: $White;
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 20px;
        line-height: 30px;
    }
    
    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        line-height: 30px;
    }
}

.header-block__link,
.header-block__link:visited {
    color: $White;
}

.header-block__item-title {
    padding: 0;
    margin: 0;
}

.header-block__item {
    // display: flex;
    width: 100%;
    // outline: 5px solid rgba(123, 0, 500, 0.8);
    // outline-offset: -5px;
}

.header-block__item:first-child .header-block__link {
    position: relative;
    display: block;
    padding: 24px 184px 31px 30px;
    background-color: $Downy-1;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: $tablet-width) {
        padding: 25px 167px 34px 36px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 25px 350px 34px 37px;
    }
}

.header-block__item:first-child .header-block__link:hover {
    background-color: $Viking;
    padding: 29px 184px 36px 30px;
    margin-top: -10px;
    @media (min-width: $tablet-width) {
        padding: 30px 167px 39px 36px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 25px 350px 44px 37px;
    }
}

.header-block__item:first-child .header-block__link::before  {
    content: "";
    position: absolute;
    top: 23px;
    left: 244px;
    width: 60px;
    height: 65px;
    background: url("../../../img/icon-interior.svg") no-repeat;
    opacity: 0.5;
    @media (min-width: $tablet-width) {
        width: 60px;
        height: 65px;
        top: 30px;
        left: 258px;
    }
    
    @media (min-width: $desktop-width) {
        top: 30px;
        left: 448px;
        width: 60px;
        height: 65px;
    }
}

.header-block__item:last-child .header-block__link {
    position: relative;
    display: block;
    padding: 24px 201px 31px 30px;
    background-color: $FountainBlue;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: $tablet-width) {
        padding: 25px 167px 34px 36px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 25px 350px 34px 37px;
    }
}

.header-block__item:last-child .header-block__link:hover {
    background-color: $PuertoRico;
    padding: 29px 201px 36px 30px;
    margin-top: -10px;
    @media (min-width: $tablet-width) {
        padding: 30px 167px 39px 36px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 25px 350px 44px 37px;
    }
}

.header-block__item:last-child .header-block__link::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 233px;
    width: 60px;
    height: 60px;
    background: url("../../../img/icon-toy.svg") no-repeat;
    opacity: 0.5;
    @media (min-width: $tablet-width) {
        top: 30px;
        left: 243px;
        width: 61px;
        height: 61px;
    }
    
    @media (min-width: $desktop-width) {
        top: 30px;
        left: 430px;
        width: 61px;
        height: 61px;
    }
}

.header-block__visually-hidden {
    @media (min-width: $tablet-width) {
        display: none;
    }
    
    @media (min-width: $desktop-width) {
        display: none;
    }
}