@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

// .main-navigation {
//     // @media (min-width: $tablet-width) {
//     //     height: 89px;
//     // }
    
//     // @media (min-width: $desktop-width) {
//     //     height: 89px;
//     // }
// }

.main-navigation__list {
    @media (min-width: $tablet-width) {
        z-index: 5;
    }
    
    @media (min-width: $desktop-width) {
        z-index: 5;
    }
}

.main-navigation__list--special {
    display: none;
    @media (min-width: $tablet-width) {
        display: flex;
        z-index: 5;
    }
    
    @media (min-width: $desktop-width) {
        display: flex;
        z-index: 5;
    }
}

.main-navigation__toggle {
    position: absolute;
    top: 31px;
    margin-left: 234px;
    align-self: flex-end;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}

.main-navigation__toggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    background: url("../../img/icon-menu-open.svg") no-repeat;
    @media (min-width: $tablet-width) {
        display: none; 
    }
    
    @media (min-width: $desktop-width) {
        display: none;
    }
}

.main-navigation__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}