@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.page-header {
    height: 79px;
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: 0px 1px 0px $Gallery, inset 0px 1px 0px $Gallery;
    // outline: 5px solid rgba(255, 0, 0, 0.8);
    // outline-offset: -5px;
}

.page-header__logo {
    display: flex;
    height: 79px;
    justify-content: center;
    align-items: center;
}

// ГРИДЫ

.page-header {
    grid-column: 1/-1;
}