@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.page-main__title {
    margin: 0;
    padding: 0;
    height: 177px;
    margin-left: -30px;
    margin-right: -30px;
    background-color: $Seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
}

// ГРИДЫ

.page-main {
    grid-column: 1/-1;

    // outline: 5px solid rgba(255, 0, 200, 0.8);
    // outline-offset: -5px;
}