@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.page-main {
    grid-column: 1/-1;
}

.page-main__title {
    margin: 0;
    padding: 0;
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: $Seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    box-shadow: 0px -1px 0px $Gallery, inset 0px -1px 0px $Gallery;
    @media (min-width: $tablet-width) {
        margin-top: -71px;
        margin-bottom: 21px;
        font-size: 43px;
        line-height: 50px;
        padding-top: 100px;
        padding-bottom: 76px;
    }
    
    @media (min-width: $desktop-width) {
        font-size: 53px;
        line-height: 57px;
        padding-top: 102px;
        padding-bottom: 92px;
    }
}