@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.page-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 160px;
    background: $Seashell;
    margin-left: -30px;
    margin-right: -30px;

    @media (min-width: $tablet-width) {
        margin-left: -50px;
        margin-right: -50px;
        flex-direction: row;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.page-footer::before {
    @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: 50px;
        left: 50px;
        width: 105px;
        height: 35px;
        background: url("../../img/logo-footer.svg") no-repeat;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

// ГРИДЫ

.page-footer {
    grid-column: 2/-2;
}