@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.site-list {
    // display: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    margin-left: -30px;
    margin-right: -30px;
    @media (min-width: $tablet-width) {
        font-size: 15px;
        flex-direction: row;
        order: 3;
    }
    
    @media (min-width: $desktop-width) {
        font-size: 17px;
        order: 1;
        min-height: 88px;
    }
}

.site-list__user {
    // display: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    margin-left: -30px;
    margin-right: -30px;
    @media (min-width: $tablet-width) {
        flex-direction: row;
        order: 2;
        justify-content: flex-end;
        flex-basis: 100%;
        flex-grow: 1;
        margin-right: -22px;
        min-height: 88px;
    }
    
    @media (min-width: $desktop-width) {
        order: 3;
        margin-right: -18px;
        flex-basis: 40%;
    }
}

.site-list--special {
    display: none;
    margin: 0;
    padding: 0;
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-left: -30px;
    margin-right: -30px;
    @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: row;
        order: 4;
    }
    
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
    }
}

.site-list__item {
    position: relative;
    mix-blend-mode: normal;
    box-shadow: 0px 1px 0px $Gallery, inset 0px 1px 0px $Gallery;
    @media (min-width: $tablet-width) {
        box-shadow: 0px 0px 0px $Gallery, inset 0px 0px 0px $Gallery;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.site-list__user-item {
    position: relative;
    mix-blend-mode: normal;
    // box-shadow: 0px 1px 0px $Gallery, inset 0px 1px 0px $Gallery;
    @media (min-width: $tablet-width) {
        padding-top: 5px;
        padding-left: 3px;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.site-list__item:nth-child(1) {
    @media (min-width: $tablet-width) {

    }
    
    @media (min-width: $desktop-width) {
        border-right: 1px solid $blackRgba;
    }
}

.site-list__item--special {
    position: relative;
    mix-blend-mode: normal;
    // box-shadow: 0px 1px 0px $Gallery, inset 0px 1px 0px $Gallery;
}

.site-list__item--special:not(:nth-child(3)) {
    @media (min-width: $tablet-width) {
        display: none;
    }
    
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: flex-start;
        font-weight: bold;
    }
}

.site-list__user-item:nth-child(1) {
    @media (min-width: $tablet-width) {
        font-size: 0;
        width: 79px;
        border-left: 1px solid $blackRgba;
        border-right: 1px solid $blackRgba;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.site-list__item--special:nth-child(3) {
    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
}

.site-list__item .site-list__link {
    padding: 28px 55px 27px 77px;
    display: block;
    @media (min-width: $tablet-width) {
        padding: 22px 7px 27px 30px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 33px 35px 27px 30px;
    }
}

.site-list__item:nth-child(2) .site-list__link {
    @media (min-width: $desktop-width) {
        padding: 33px 30px 27px 35px;
    }
}

.site-list__user-item .site-list__user-link {
    padding: 28px 55px 27px 77px;
    display: block;
    @media (min-width: $tablet-width) {
        padding: 28px 22px 27px 79px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 28px 20px 27px 80px;
    }
}

.site-list__item--special .site-list__link--special {
    padding: 28px 55px 27px 77px;
    display: block;
    @media (min-width: $tablet-width) {
        padding: 20px 30px 27px 35px;
    }
    
    @media (min-width: $desktop-width) {
        padding: 20px 32px 27px 30px;
    }
}

.site-list__link,
.site-list__link:visited,
.site-list__user-link,
.site-list__user-link:visited,
.site-list__link--special,
.site-list__link--special:visited {
    // padding: 29px 65px 26px 65px;
    // width: 100%;
    color: $Black;
}

.site-list__link:hover,
.site-list__user-link:hover,
.site-list__link--special:hover {
    opacity: 0.6;
}

.site-list__link:active,
.site-list__user-link:active,
.site-list__link--special:active {
    opacity: 0.3;
}

.site-list__user-item:nth-child(1) .site-list__user-link::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 32px;
    width: 18px;
    height: 18px;
    background: url("../../img/icon-search.svg") no-repeat;
    opacity: 0.2;
    @media (min-width: $tablet-width) {
        top: 35px;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.site-list__user-item:nth-child(1) .site-list__user-link:hover::before {
    background: url("../../img/icon-search-hover.svg") no-repeat;
    opacity: 1;
}

.site-list__button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
}

.site-list__button::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 31px;
    width: 21px;
    height: 18px;
    background: url("../../img/icon-cart.svg") no-repeat;
    opacity: 0.2;
    @media (min-width: $tablet-width) {
        top: 34px;
        left: 30px;
    }
    
    @media (min-width: $desktop-width) {
        
    }
}

.site-list__button:hover::before {
    background: url("../../img/icon-cart-hover.svg") no-repeat;
    opacity: 1;
}

.site-list__button:active::before {
    background: url("../../img/icon-cart-hover.svg") no-repeat;
    opacity: 0.3;
}