@import '../abstracts/functions.scss';
@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.socials-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: -24px;
    margin-left: -19px;
    @media (min-width: $tablet-width) {
        margin-top: -6px;
        margin-left: -40px;
    }
    
    @media (min-width: $desktop-width) {
        // margin-top: 29px;
        // margin-left: 376px;
    }
}

.socials-list__item {
    margin-left: 40px;
}

// .socials-list__item:first-child {
//     // margin-left: 87px;
// }

.socials-list__link svg:hover {
    fill: $PuertoRico;
}

.socials-list__link svg:active {
    opacity: 0.3;
}

// .socials-list__svg-instagram {
//     display: inline-block;
//     width: 21.769px;
//     height: 21.334px;
// }