@import '../../abstracts/functions.scss';
@import '../../abstracts/variables.scss';
@import '../../abstracts/mixins.scss';

.reviews {
    position: relative;
}

.reviews::after {
    position: absolute;
    content: '';
    border-bottom: 6px solid $grey-two;
    border-image: url('../../../img/bg-zigzag-line.svg') 30 repeat;
    width: 320px;
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
}

.reviews-first {

}

.reviews-first__title {
    margin: 0;
    padding: 0;
    margin-top: 58px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
}

.reviews-first__text {
    margin: 0;
    padding: 0;
    margin-top: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
}

.reviews-first__signature {
    margin: 0;
    padding: 0;
    margin-top: 33px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
}

.reviews-first__signature-id {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
}

.reviews__list {
    margin: 0;
    padding: 0;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    position: relative;
}

.reviews__item {
    width: 260px;
    height: 52px;
    border: 1px solid $main-grey;
}

.reviews__item:first-child {
    position: relative;
}

.reviews__item:last-child {
    position: relative;
}

.reviews__link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews__item:first-child .reviews__link::before {
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    left: 38px;
    width: 50px;
    height: 26px;
    background: $main-white url("../../../img/icon-left-arrow.svg") no-repeat;
}

.reviews__item:last-child .reviews__link::before {
    content: "";
    position: absolute;
    display: block;
    top: 13px;
    left: 38px;
    width: 50px;
    height: 26px;
    background: $main-white url("../../../img/icon-right-arrow.svg") no-repeat;
}

.reviews__item:first-child .reviews__link:hover::before,
.reviews__item:last-child .reviews__link:hover::before {
    opacity: 0.6;
}

.reviews__item:first-child .reviews__link:active::before,
.reviews__item:last-child .reviews__link:active::before {
    opacity: 0.3;
}

.reviews__link-button {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 14px 51px 15px 79px;
    text-transform: uppercase;
    border: 2px solid $main-light-black;
    margin-top: 36px;
    margin-bottom: 45px;
}

.reviews__link-button:visited {
    @include BtnVisited;
}

.reviews__link-button:hover {
    @include BtnHover;
}

.reviews__link-button:active {
    @include BtnActive;
}