$White: #FFFFFF; //$main-white
$Black: #000000; //$main-black
$Thunder: #231F20;  //$dark-two
$Tundora: #444444;  //$main-light-black
$Gallery: #ECECEC;  //$main-grey
$Seashell: #F1F1F1;  //$grey-two
$Alabaster: #F9F9F9;
$Silver: #C6C6C6;
$Silver-2: #E5E5E5;

$whiteRgba: rgba(255, 255, 255, 0.3);  //$main-white-3
$blackRgba: rgba(0, 0, 0, 0.1); //$main-black-3
$LitleBlack: rgba(0, 1, 1, 0.25);
$blackRgb2: rgb(179, 179, 179);
$AlmostWhite: rgba(255,255,255, 0.9);

$Downy-1: #63D1BB;  //$light-green-btn
$Viking: #59D5BC;  //$light-green-btn-hover

$FountainBlue: #56C3B2;  //$dark-green-btn
$PuertoRico: #46C1AE;  //$dark-green-btn-hover

$Downy-2: #62D1BA;  //$green-line

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
