$main-white: #FFFFFF;
$main-black: #000000;
$dark-two: #231F20;
$main-light-black: #444444;
$main-grey: #ECECEC;
$grey-two: #F1F1F1;

$main-white-3:rgba(255, 255, 255, 0.3);


$light-green-btn: #63D1BB;
$light-green-btn-hover: #59D5BC;

$dark-green-btn: #56C3B2;
$dark-green-btn-hover: #46C1AE;

$green-line: #62D1BA;
$green-line-hover: #46C1AE;
