@import '../../abstracts/functions.scss';
@import '../../abstracts/variables.scss';
@import '../../abstracts/mixins.scss';

.copyright {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    // outline: 5px solid rgba(255, 0, 200, 0.8);
    // outline-offset: -5px;
}

.copyright__text {
    margin-right: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
}

// width="27" height="34"

.copyright__link svg:hover {
    fill: $green-line-hover;
}

.copyright__link svg:active {
    opacity: 0.3;
}